@{
    ViewBag.Title = "About Pixabit Solutions";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Pixabit Solutions</h1>
        <ol class="breadcrumb pull-right">
            <li>О нас</li>
            <li>Pixabit Solutions</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <div class="row">

        <div class="col-md-8">
            <h2 class="right-line">Инновационные IT-решения более 10 лет</h2>
            <p>В 2001 году Штефан Нессельхауф основал компанию sbix GmbH, которую в 2005 году трансформировал в pixabit GmbH. И в июле 2012 года была основана <strong>pixabit solutions GmbH</strong>, как «spin-off» компания, которая специализируется на разработке программного обеспечения.</p>

            <p>С тех пор в компании работают 50 постоянных сотрудников под флагманом компаний <a href="http://www.pixabit-solutions.de/">pixabit solutions GmbH</a> и <a href="http://www.pixabit-interactive.de/">pixabit interactive GmbH</a> (разработка web-приложений и цифрового бренда), также как и наши собственные команды в Киеве, которые в полной гармонии разработали индивидуальное программное обеспечение и IT решения.</p>

            <p>
                Найти более подробную информацию о жизни и деятельности нашей команды Вы можете перейдя по ссылке на нашу страницу <a href="https://www.facebook.com/pixabit.solutions">Facebook</a>.
            </p>
            <p>
                Наши клиенты и проекты в основном в сфере продаж, логистики, производства и др. Наши решения реализованы нашей командой вместе с вашей компанией собственных IT-сотрудников.
            </p>

            <h3 class="right-line">Штефан Нессельхауф, управляющий директор</h3>
            <p>Я и мои сотрудники стремимся к реализации требований клиента в функциональном продукте, который поможет Вашей компании сэкономить время и деньги.</p>

            <p>
                С 1995 года я оказываю помощь компаниям в сфере IT-услуг, особенно в области разработки программного обеспечения, SAP, а также администрирования гетерогенных UNIX/Windows сетей и систем.
            </p>
            <p>
                К моменту основания sbix GmbH, более 12 лет назад, объединив всю мою предыдущую деятельность в сфере технологий UNIX, Windows и SAP, я создал основу для широкого диапазона решений, которые pixabit solutions GmbH предлагает сегодня.
            </p>
            <p>
                Мой опыт работы в качестве архитектора и сертифицированного Scrum «Product Owner», а также коллективный опыт работы нашей команды сможет удовлетворить Ваши требования.
            </p>
            <p>
                На сегодняшний день <strong>pixabit solutions GmbH</strong> предлагает самый широкий спектр навыков. Наша главная цель: Программное обеспечение, которое работает для Вашего успеха.
            </p>
        </div>
        

        <!--ADD new correct info--->

        <div class="col-md-4">
            <div class="panel panel-primary animated fadeInUp animation-delay-12">
                <div class="panel-heading">Our skills</div>
                <div class="panel-body">
                    <section>
                        <h4 class="section-title no-margin-top">Web development knowledge</h4>
                        <h5 class="no-margin">HTML 5</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">CSS 3</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Javascript</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Jquery</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                <span class="sr-only">50% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Bootstrap</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                <span class="sr-only">85% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Responsive Desing</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                <span class="sr-only">85% Complete</span>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h4 class="section-title">Game Programming</h4>
                        <h5 class="no-margin">C++</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">OpenGL</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                <span class="sr-only">30% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">SFML</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Unity 3D</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                <span class="sr-only">50% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">libGDX</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Cocos2D-x</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                    </section>

                    <h4 class="section-title">Languages</h4>
                    <h5 class="no-margin">English</h5>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                    <h5 class="no-margin">Spanish</h5>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                    <h5 class="no-margin">French</h5>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                            <span class="sr-only">30% Complete</span>
                        </div>
                    </div>
                    <h5 class="no-margin">Germany</h5>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                            <span class="sr-only">10% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>