@{
    ViewBag.Title = "About Pixabit Solutions";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Über Pixabit Solutions</h1>
        <ol class="breadcrumb pull-right">
            <li>Über uns</li>
            <li>Pixabit Solutions</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <div class="row">

        <div class="col-md-8">
            <h2 class="right-line">Innovative IT-Lösungen seit mehr als 10 Jahren</h2>
            <p>Nach der 2001 von Stefan Nesselhauf gegründeten sbix GmbH und der Umwandlung in die pixabit GmbH im Jahr 2005 erfolgte im Juli 2012 der Spin-Off des Bereichs Softwareentwicklung in die eigenständige <strong>pixabit solutions GmbH</strong>.</p>

            <p>50 fest angestellte Mitarbeiter entwickeln seither in den Gesellschaften <a href="http://www.pixabit-solutions.de/">pixabit solutions GmbH</a> und <a href="http://www.pixabit-interactive.de/">pixabit interactive GmbH</a>  (Digitale Markenführung und Webdevelopment) sowie unseren eigenen Teams in Kiew im perfekten Zusammenspiel kundenspezifische Software und IT-Konzepte.</p>

            <p>
                Mehr Informationen über unsere Teamaktivitäten auf <a href="https://www.facebook.com/pixabit.solutions">Facebook</a>.
            </p>
            <p>
                Unsere Kunden und Projekte sind überwiegend in den Bereichen Vertrieb, Logistik und Produktion, etc. Unsere Lösungen implementiert werden von unserem team zusammen mit Ihrem Unternehmen eigene IT-Mitarbeiter.
            </p>

            <h3 class="right-line">Stefan Nesselhauf, Geschäftsführer</h3>
            <p>Kundenspezifische Anforderungen in funktionierende Produkte umzusetzen, die Zeit und Geld sparen - dieser Aufgabe sind meine Mitarbeiter und ich verpflichtet.</p>

            <p>
                Seit 1995 habe ich Unternehmen mit IT-Dienstleistungen insbesondere in den Bereichen Softwareentwicklung, SAP und Administration von heterogenen UNIX/Windows Netzwerken und Systemen unterstützt.
            </p>
            <p>
                Mit der Gründung der sbix GmbH vor über 12 Jahren konnte ich erstmals alle vorherigen Tätigkeiten im UNIX-, Windows- und SAP-Umfeld vereinen und die Basis für das heutige Leistungsspektrum der pixabit solutions GmbH schaffen. 
            </p>
            <p>
                Meine Erfahrung als Architekt und scrum.org-zertifizierter Product Owner sowie die kollektive Expertise unseres Teams stelle ich Ihren Anforderungen zur Verfügung.
            </p>
            <p>
                Heute vereint die <strong>pixabit solutions GmbH</strong> unterschiedlichste Kompetenzen zu einem Ziel: Software, die für Ihren Erfolg arbeitet.
            </p>
        </div>
        

        <div class="col-md-4">
            <div class="panel panel-primary animated fadeInUp animation-delay-12">
                <div class="panel-heading">Our skills</div>
                <div class="panel-body">
                    <section>
                        <h4 class="section-title no-margin-top">Web development knowledge</h4>
                        <h5 class="no-margin">HTML 5</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">CSS 3</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Javascript</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Jquery</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                <span class="sr-only">50% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Bootstrap</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                <span class="sr-only">85% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Responsive Desing</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                <span class="sr-only">85% Complete</span>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h4 class="section-title">Game Programming</h4>
                        <h5 class="no-margin">C++</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">OpenGL</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                <span class="sr-only">30% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">SFML</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Unity 3D</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                <span class="sr-only">50% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">libGDX</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                        <h5 class="no-margin">Cocos2D-x</h5>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                    </section>

                    <h4 class="section-title">Languages</h4>
                    <h5 class="no-margin">English</h5>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                    <h5 class="no-margin">Spanish</h5>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                    <h5 class="no-margin">French</h5>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                            <span class="sr-only">30% Complete</span>
                        </div>
                    </div>
                    <h5 class="no-margin">Germany</h5>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                            <span class="sr-only">10% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>