@{
    ViewBag.Title = "Legal Notice";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Юридическая информация</h1>
        <ol class="breadcrumb pull-right">
            <li>Юридическая информация</li>
            <li>Pixabit Solutions</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <div class="row">

        <div class="col-md-8">
            <h4 class="section-title no-margin-top">Владелец сайта:</h4>
            <address>
                <strong>pixabit solutions GmbH</strong><br>
                Römerstraße 75<br>
                DE 71229 Leonberg<br>
                <abbr title="Phone">P: </abbr>+49 7152 307959-0<br>
                <abbr title="Fax">F: </abbr>+49 7152 307959-8<br>
                Почта: <a href="mailto:info@pixabit-solutions.de">info@pixabit-solutions.de</a><br />
                <br />
                <abbr>Управляющий директор: Штефан Нессельхауф</abbr><br>
                <abbr>Штаб квартира компании: Leonberg</abbr><br>
                <abbr>Amtsgericht Stuttgart, HRB 741933</abbr><br>
                <abbr>Налоговый номер: 70095/82785</abbr>
            </address>
        </div>
    </div>
</div>


