
@{
    ViewBag.Title = "Legal Notice";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Impressum</h1>
        <ol class="breadcrumb pull-right">
            <li>Impressum</li>
            <li>Pixabit Solutions</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <div class="row">

        <div class="col-md-8">
            <h4 class="section-title no-margin-top">Betreiber der Website:</h4>
            <address>
                <strong>pixabit solutions GmbH</strong><br>
                Römerstraße 75<br>
                DE 71229 Leonberg<br>
                <abbr title="Phone">P: </abbr>+49 7152 307959-0<br>
                <abbr title="Fax">F: </abbr>+49 7152 307959-8<br>
                Mail: <a href="mailto:info@pixabit-solutions.de">info@pixabit-solutions.de</a><br />
                <br />
                <abbr>Vertretungsberechtigter Geschäftsführer: Stefan Nesselhauf </abbr><br>
                <abbr>Sitz der Gesellschaft: Leonberg </abbr><br>
                <abbr>Amtsgericht Stuttgart, HRB 741933</abbr><br>
                <abbr>Steuernummer: 70095/82785</abbr>
            </address>
            <h2 class="right-line">Haftungsausschluss</h2>
            <p>
                Verantwortlich für den Inhalt gemäß Telemediengesetz (TMG): pixabit solutions GmbH, vertreten durch Stefan Nesselhauf. Die pixabit solutions GmbH erklärt ausdrücklich, dass fremde Internetseiten, welche durch direkte oder indirekte Verweise auf der pixabit-solutions.de Website verknüpft sind, zum Zeitpunkt der Linksetzung frei von illegalen bzw. rechtswidrigen Inhalten waren. pixabit solutions GmbH hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der gelinkten / verknüpften Seiten. Deshalb distanziert Sie sich hiermit ausdrücklich von allen Inhalten aller gelinkten / verknüpften Seiten, die nach der Linksetzung verändert wurden. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde. Grundsätzlich werden durch die Nutzung der pixabit-solutions-Website keine persönlichen Daten erhoben und/oder gespeichert. 
            </p>
            <p>
                Für die Bearbeitung von Anfragen werden Name, E-Mail-Adresse oder sonstige persönliche Daten benötigt und gespeichert. Die Erhebung, Speicherung und Verwendung dieser persönlichen Daten geschieht ausschließlich nach den strengen Regelungen des Bundesdatenschutzgesetzes (BDSG) und des Teledienstdatenschutzgesetzes (TDDSG). Insbesondere werden die Daten vertraulich behandelt und nicht an Dritte weitergegeben.
            </p>

            <h3 class="right-line">Datenschutzerklärung</h3>
            <p>
            
                Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (Google). Google Analytics verwendet sog. Cookies, Textdateien, die auf Ihrem Computer
                gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website
                werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite,
                wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen
                Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers
                dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit
                der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser
                übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer
                Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen
                können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die
                Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren <a href="https://tools.google.com/dlpage/gaoptout?hl=de">tools.google.com/dlpage/gaoptout?hl=de</a>.
            
            </p>
        </div>
    </div>
</div>
