@{
    ViewBag.Title = "Home Page";
}

<header class="services-header">
    <div class="primary-dark-div">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="service-header-text text-center">
                        <h1 class="animated fadeInDown animation-delay-2">Pixabit solutions GmbH</h1>
                        <p class="animated fadeInDown animation-delay-5">We develop custom software for companies and public agencies using the latest technologies</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="services-header-list">
                        <li class="animated fadeInUp animation-delay-5"><a href="@Url.Action("DotNetDevelopment", "Services")"><i class="fa fa-globe"></i>Know-how for Microsoft .NET WPF and ASP.NET</a></li>
                        <li class="animated fadeInUp animation-delay-8"><a href="@Url.Action("WebDevelopment", "Services")"><i class="fa fa-html5"></i> Internet and Mobile</a></li>
                        <li class="animated fadeInUp animation-delay-11"><a href="#"><i class="fa fa-cloud"></i>Administration, ITK, infrastructure, service, support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container body-content">
    <article>
        <p>
            <strong>Pixabit solutions GmbH</strong> develops customized software using the latest technologies for companies in all sectors and for public agencies. Custom applications bring cost- and competitive advantages wherever standard software is being pushed to its limits. We guide our customers with competence, fairness, and timeliness all the way from the assessment of needs.
            As a <strong>supplier for software</strong> companies and agencies, we offer project support as external specialists in .NET, Java, and other front-end technologies.
        </p>
    </article>
    <aside class="col-xs-4 text-icon">
        <span class="icon-ar icon-ar-lg">
            <i class="fa fa-laptop"></i> 
        </span>
    
        <div class="text-icon-content"><h3>Software Development</h3></div>
            <p><strong>Pixabit solutions GmbH</strong> provides software development for companies and public agencies. We develop custom software using the latest technologies.</p>
            <ul>
                <li>Microsoft .NET, C#</li>
                <li>Java EE Applications</li>
                <li>Robust desktop applications with WPF (Windows Presentation Foundation)</li>
                <li>Modern web applications with ASP.NET</li>
                <li>Server and cloud-based solutions</li>
                <li>Mobile solutions (iOS, Android, Hybrid, HTML5)</li>
            </ul>
      
    </aside>
    <aside class="col-xs-4 text-icon ">
        <span class="icon-ar icon-ar-lg">
            <i class="fa fa-hand-o-down"></i>
        </span>
        <div class="text-icon-content">
            <h3>Your Needs</h3>
        </div>
        <p>Do you need project support and resources for the implementation of your software ideas?</p>
        <p>Do you have an IT challenge, but don't know how you can solve it?</p>
        <p>Your idea can't be implemented using your standard software?</p>
        <ul>
            <li><b>Project Support:</b> External or in-house support by our team of developers</li>
            <li>As a well-practiced Scrum team with certified Product Owners and Product Masters, we are well-equipped to support you as an external project team</li>
            <li><b>Needs Assessment:</b> We work with you to determine your needs - even if you don't speak "IT"</li>
            <li><b>Consultation:</b> We advise you on software architectures</li>
            <li><b>Implementation:</b> We support your software development work with our team</li>
        </ul>
    </aside>
    <aside class="col-xs-4 text-icon">
        <span class="icon-ar icon-ar-lg">
            <i class="fa fa-thumbs-o-up"></i>
        </span>
        <div class="text-icon-content">
            <h3>Our Solutions</h3>
        </div>
        <p>Take a look at the solutions from which our clients have successfully benefited:</p>
        <ul>
            <li>Custom CRM solutions (Customer Relationship Management)</li>
            <li>Modern desktop and web applications with .NET technology</li>
            <li>Development, deployment, and hosting of web services (e.g. SOAP, REST, WCF)</li>
            <li>Tools and Office applications for the optimization of operations</li>
            <li>Interfaces between various standard and web systems</li>
            <li>Custom development and interfaces for integration with SAP or other ERP/CRM systems</li>
            <li>Data migration</li>
        </ul>
</aside>
</div>