@{
    ViewBag.Title = "Home Page";
}

<header class="services-header">
    <div class="primary-dark-div">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="service-header-text text-center">
                        <h1 class="animated fadeInDown animation-delay-2">Pixabit solutions GmbH</h1>
                        <p class="animated fadeInDown animation-delay-5">Мы разрабатываем программное обеспечение на заказ для компаний и государственных учреждений с использованием новейших технологий</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="services-header-list">
                        <li class="animated fadeInUp animation-delay-5"><a href="@Url.Action("DotNetDevelopment", "Services")"><i class="fa fa-globe"></i>Ноу-хау для Microsoft .NET, WPF и ASP.NET</a></li>
                        <li class="animated fadeInUp animation-delay-8"><a href="@Url.Action("WebDevelopment", "Services")"><i class="fa fa-html5"></i> Интернет и мобильные приложения</a></li>
                        <li class="animated fadeInUp animation-delay-11"><a href="#"><i class="fa fa-cloud"></i>Администрация, ИТК, инфраструктура, сервис, поддержка</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container body-content">
    <article>
        <p>
            <strong>Pixabit solutions GmbH</strong> разрабатывает специализированное программное обеспечение с использованием новейших технологий для частных предприятий, а также для государственных учреждений. Наша компания разрабатывает индивидуальные пользовательские приложения, которые помогут принести Вашему предприятию экономические и конкурентные преимущества там, где стандартное программное обеспечение ограничивается пределами его использования. Мы предоставляем нашим клиентам компетентное, объективное и своевременное выполнение поставленных задач на протяжении всей совместной работы, начиная с оценки потребностей клиента.
            Как <strong>немецкая компания-разработчик программного обеспечения </strong>  для предприятий и агентств, мы предлагаем разработку и поддержку проектов. Наши сотрудники- это ведущие специалисты .NET, Java и других технологий.
        </p>
    </article>
    <aside class="col-xs-4 text-icon">
        <span class="icon-ar icon-ar-lg">
            <i class="fa fa-laptop"></i> 
        </span>
    
        <div class="text-icon-content"><h3>Разработка программного обеспечения</h3></div>
            <p><strong>Pixabit solutions GmbH</strong> занимается разработкой программного обеспечения для частных компаний, а также государственных учреждений. Согласно спецификации, мы разрабатываем программное обеспечение с использованием новейших технологий.</p>
            <ul>
                <li>Microsoft .NET, C#</li>
                <li>Java EE Приложения</li>
                <li>Надёжные desktop-приложения с использованием технологии WPF (Windows Presentation Foundation)</li>
                <li>Современные веб-приложения с использованием технологии ASP.NET</li>
                <li>Серверные и облачные решения</li>
                <li>Мобильные приложения (iOS, Android, Hybrid, HTML5)</li>
            </ul>
      
    </aside>
    <aside class="col-xs-4 text-icon ">
        <span class="icon-ar icon-ar-lg">
            <i class="fa fa-hand-o-down"></i>
        </span>
        <div class="text-icon-content">
            <h3>Ваши потребности</h3>
        </div>
        <p>Вам нужна поддержка проектов и ресурсы для реализации Ваших идей в программном обеспечении?</p>
        <p>У Вас есть IT-проект, но вы не знаете, как его реализовать?</p>
        <p>Ваша идея не может быть реализована с помощью стандартного программного обеспечения?</p>
        <ul>
            <li><b>Поддержка проектов:</b> С помощью нашей команды разработчиков, мы можем осуществить поддержку как удаленно, так и по месту использования.</li>
            <li>Как «Scrum Team» с большим опытом и сертифицированными «Product Owner» и «Product Master», мы хорошо подготовлены, чтобы поддержать Вас в качестве внешней проектной команды</li>
            <li><b>Оценка потребностей: </b> Даже если Вы ранее не были связаны с IT-технологиями, начальным этапом нашей совместной работы является определение потребностей Вашей компании</li>
            <li><b>Консультация:</b> Наша команда поможет Вам с выбором архитектуры проекта</li>
            <li><b>Реализация:</b> Наша команда окажет поддержку любым Вашим разработкам программного обеспечения</li>
        </ul>
    </aside>
    <aside class="col-xs-4 text-icon">
        <span class="icon-ar icon-ar-lg">
            <i class="fa fa-thumbs-o-up"></i>
        </span>
        <div class="text-icon-content">
            <h3>Наши решения</h3>
        </div>
        <p>Предлагаем Вам ознакомится с решениями, с помощью которых Вы можете извлечь выгоду для своего предприятия:</p>
        <ul>
            <li>Пользовательские решения CRM (Customer Relationship Management)</li>
            <li>Современные desktop и web-приложения на базе .NET технологий</li>
            <li>Разработка, внедрение и хостинг веб-сервисов (SOAP, REST, WCF и др.)</li>
            <li>Офисные приложения и инструменты для оптимизации операций</li>
            <li>Интерфейсы для desktop и web-систем</li>
            <li>Пользовательские разработки и интерфейсы для интеграции с SAP или другими ERP/CRM системами</li>
            <li>Миграция данных</li>
        </ul>
</aside>
</div>