@{
    ViewBag.Title = "Home Page";
}

<header class="services-header">
    <div class="primary-dark-div">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="service-header-text text-center">
                        <h1 class="animated fadeInDown animation-delay-2">Pixabit solutions GmbH</h1>
                        <p class="animated fadeInDown animation-delay-5">Wir entwickeln individuelle software für Unternehmen und öffentliche Einrichtungen mit den neuesten Technologien</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="services-header-list">
                        <li class="animated fadeInUp animation-delay-5"><a href="@Url.Action("DotNetDevelopment", "Services")"><i class="fa fa-globe"></i>Know-how für Microsoft .NET, WPF und ASP.NET</a></li>
                        <li class="animated fadeInUp animation-delay-8"><a href="@Url.Action("WebDevelopment", "Services")"><i class="fa fa-html5"></i>Internet und Mobile</a></li>
                        <li class="animated fadeInUp animation-delay-11"><a href="#"><i class="fa fa-cloud"></i>Verwaltung, ITK, Infrastruktur, Service, Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container body-content">
    <article>
        <p>
            Die <strong>Pixabit solutions GmbH</strong> entwickelt mit modernsten Technologien <strong>individuelle Software für Unternehmen aller Branchen und öffentliche Auftraggeber</strong>. Kundenspezifische Anwendungen schaffen Kosten- und Wettbewerbsvorteile dort, wo Standardsoftware an Grenzen stößt.
            Wir begleiten unsere Kunden von der Bedarfsermittlung bis zum Roll-Out mit umfassender Entwicklungskompetenz, fairen Konditionen und termintreuer Ausführung.
        </p>
        <p>
            Als <strong>Lieferant für Softwarehäuser</strong> und Agenturen bieten wir <strong>Projektunterstützung als externe Spezialisten in .NET (C#, WPF, XAML, ASP.NET, T-SQL)</strong> sowie Java EE- und Frontendtechnologien.
        </p>
        <p>
            Mit unserem <strong>übergreifenden Know-How</strong> in angrenzende Bereiche wie <strong>Security, Systeme, Internet & Cloud</strong> begleiten wir unsere Kunden nicht nur in der Softwareentwicklung, sondern auch beim Applikationsbetrieb, der Wartung und Support unserer Entwicklungen.
        </p>
        <p>
            <a href="@Url.Action("OurCustomers", "Projects")">Unsere Kunden </a> <strong>schätzen</strong> an uns
            <ul>
                <li>unser <strong>kompetentes und leistungsfähiges</strong> Entwickler- und Test-Team</li>
                <li>unsere <strong>Flexibilität </strong> hinsichtlich Technologien, Lösungsmöglichkeiten und zeitliche Verfügbarkeit</li>
                <li>unsere <strong>Lösungsorientierung</strong> mit hohem <strong>Kosten-Nutzen-Verständnis</strong></li>
            </ul>
            
        <p>
            <i>Schätzen Sie diese Werte auch? Nehmen Sie <a href=@Url.Action("Contact", "Home")>Kontakt</a> mit uns auf - wir freuen uns über Ihre Anfrage!</i>
        </p>
    </article>
    <aside class="col-xs-4 text-icon">
        <span class="icon-ar icon-ar-lg">
            <i class="fa fa-laptop"></i> 
        </span>
    
        <div class="text-icon-content"><h3>Software-Entwicklung</h3></div>
        <p><strong>Pixabit solutions GmbH</strong> leistet <strong>Softwareentwicklung für Unternehmen und öffentliche Auftraggeber</strong>. Wir entwickeln individuelle Software mit modernsten Technologien.</p>
            <ul>
                <li>Microsoft .NET, C#</li>
                <li>Java EE Anwendungen</li>
                <li>Moderne Webanwendungen mit ASP.NET in MVC-Architektur</li>
                <li>HTML5 Webanwendungen mit z.B. Kendo UI Web und Kendo UI Mobile</li>
                <li>UI Konzeption und Responsive Design</li>
                <li>Anspruchsvolle Desktopanwendungen mit WPF (Windows Presentation Foundation) und MVVM</li>
                <li>Erstellung von UIs mit XAML für WPF</li>
                <li>Clean Code Entwicklung</li>
                <li>T-SQL, SQL- Unterstützung</li>
                <li>Server- und Cloudgestützte Lösungen</li>
                <li>Mobile Lösungen (iOS, Android, Hybrid, HTML5)</li>
            </ul>
      
    </aside>
    <aside class="col-xs-4 text-icon ">
        <span class="icon-ar icon-ar-lg">
            <i class="fa fa-hand-o-down"></i>
        </span>
        <div class="text-icon-content">
            <h3>Ihr Bedarf</h3>
        </div>
        <p>Sie benötigen Projektunterstützung und Ressourcen für die Umsetzung Ihrer Software-Ideen?</p>
        <p>Sie haben eine IT-Herausforderung wissen aber nicht wie Sie dies lösen können?</p>
        <p>Ihre Idee lässt sich nicht mit Ihrer Standardsoftware lösen?</p>
        <ul>
            <li><b>Projektunterstützung:</b> Externe Leistung durch unser Entwicklerteam oder Inhouse-Unterstützung</li>
            <li><b>Scrum-Team:</b> Als eingespieltes Scrum-Team mit zertifierten Product Owner und Scrum Master unterstützen wir Sie als externes agiles Projektteam</li>
            <li><b>Bedarfsermittlung:</b> Wir ermitteln mit Ihnen Ihren Bedarf - gerade dann wenn Sie kein "IT" sprechen</li>
            <li><b>Beratung:</b> Wir beraten Sie hinsichtlich Softwarearchitekturen</li>
            <li><b>Implementierung:</b> Wir unterstützen Sie in der Softwareentwicklung mit unserem Team</li>
            <li><b>Betrieb und Support:</b> Greifen Sie auf unsere Unterstützung für Betrieb, Support und Wartung Ihrer Anwendung zurück</li>
        </ul>
    </aside>
    <aside class="col-xs-4 text-icon">
        <span class="icon-ar icon-ar-lg">
            <i class="fa fa-thumbs-o-up"></i>
        </span>
        <div class="text-icon-content">
            <h3>Unsere Lösungen</h3>
        </div>
        <p>Werfen Sie einen Blick auf unsere Lösungen und Beispiele, von denen unsere Kunden erfolgreich profitiert haben:</p>
        <ul>
            <li>Individuelle CRM-Lösungen (Customer Relationship Management)</li>
            <li>Moderne Desktop- und Webanwendungen mit .NET Technologie</li>
            <li>Entwicklung, Bereitstellung und Hosting von Webservices (z.B. SOAP, REST, WCF)</li>
            <li>Tools und (Office-)Anwendungen zur Optimierung des betrieblichen Ablaufs</li>
            <li>Schnittstellen zwischen verschiedenen Standard- und Websystemen</li>
            <li>Individuelle Entwicklungen und Schnittstellen im Zusammenhang mit SAP oder anderen ERP- oder CRM-Systemen</li>
            <li>Datenmigrationen</li>
        </ul>
</aside>
</div>