
@{
    ViewBag.Title = "BusinessAnalyst";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Business Analyst</h1>
        <ol class="breadcrumb pull-right">
            <li>About us</li>
            <li>Career</li>
            <li class="active">Business Analyst</li>
        </ol>
    </div>
</header>

<div class="container body-content">
            <h2 class="right-line">Business Analyst with German</h2>
            <article>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
                    <li class="active"><a href="#requirements" data-toggle="tab">Basic requirements</a></li>
                    <li><a href="#skills" data-toggle="tab">Desired skills</a></li>
                    <li><a href="#offer" data-toggle="tab">We offer</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="requirements">
                        <ul>
                            <li>3+ years of working experience as Business Analyst for web and desktop applications as well</li>
                            <li>Collecting and analysis of use cases and requirements</li>
                            <li>Creating prototypes and mockups</li>
                            <li>Communication with customers</li>
                            <li>Software development lifecycle knowledge</li>
                            <li>Reporting to stakeholders and management</li>
                            <li>Upper intermediate spoken and reading German</li>
                            <li>Strong analytical and troubleshooting skills</li>
                            <li>Team working</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="skills">
                        <ul>
                            <li>English - great plus</li>
                            <li>Understanding architecture of enterprise applications</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="offer">
                        <ul>
                            <li>Excellent 'white' compensation package</li>
                            <li>All taxes and banking fee compensation</li>
                            <li>As well as good opportunities for career and personal development</li>
                            <li>Exciting projects involving newest technologies</li>
                            <li>Medical insurance</li>
                            <li>Sport insurance</li>
                            <li>24 days vacation</li>
                            <li>German language course</li>
                            <li>Possible business trip to Germany</li>
                            <li>Possible relocation to Germany</li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
