
@{
    ViewBag.Title = "BusinessAnalyst";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Бизнес аналитик</h1>
        <ol class="breadcrumb pull-right">
            <li>О нас</li>
            <li>Карьера</li>
            <li class="active">Бизнес аналитик</li>
        </ol>
    </div>
</header>

<div class="container body-content">
            <h2 class="right-line">Немецкий бизнес аналитик</h2>
            <article>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
                    <li class="active"><a href="#requirements" data-toggle="tab">Основные требования</a></li>
                    <li><a href="#skills" data-toggle="tab">Необходимые навыки</a></li>
                    <li><a href="#offer" data-toggle="tab">Мы предлагаем</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="requirements">
                        <ul>
                            <li>3+ года опыта работы в качестве бизнес-аналитика для настольных и веб-приложений</li>
                            <li>Сбор и анализ вариантов использования и требования</li>
                            <li>Создание прототипов и макетов</li>
                            <li>Общение с клиентами</li>
                            <li>Знание жизненного цикла разработки программного обеспечения</li>
                            <li>Отчетности для субъектов деятельности и управления</li>
                            <li>Выше среднего разговорный и технический немецкий</li>
                            <li>Сильные аналитические навыки и поиск неисправностей</li>
                            <li>Работа в команде</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="skills">
                        <ul>
                            <li>Английский язык - большой плюс</li>
                            <li>Понимание архитектуры корпоративных приложений</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="offer">
                        <ul>
                            <li>Отличную компенсацию</li>
                            <li>А также хорошие возможности для карьерного и личностного развития</li>
                            <li>Интересные проекты с привлечением новейших технологий</li>
                            <li>Медицинскую страховку</li>
                            <li>Спорт страховку</li>
                            <li>24 дня отпуск</li>
                            <li>Курсы немецкого языка</li>
                            <li>Возможные командировки в Германию</li>
                            <li>Возможный переезд в Германию</li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
