
@{
    ViewBag.Title = "DotNetDeveloper";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">ASP.NET разработчик</h1>
        <ol class="breadcrumb pull-right">
            <li>О нас</li>
            <li>Карьера</li>
            <li class="active">ASP.NET разработчик</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <h2 class="right-line">ASP.NET разработчик</h2>
    <article>
        <p>
            Мы приглашаем ASP.NET Intermediate/Senior Backend/Frontend разработчиков (m/f) присоединиться к нашей команде в г. Киеве.
            Вы будете разрабатывать веб и мобильные коммерческие решения для наших международных клиентов с новейшими технологиями: VisualStudio 2013, KendoUI и HTML5.
        </p>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
            <li class="active"><a href="#requirements" data-toggle="tab">Основные требования</a></li>
            <li><a href="#skills" data-toggle="tab">Необходимые навыки</a></li>
            <li><a href="#offer" data-toggle="tab">Мы предлагаем</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="requirements">
                <ul>
                    <li>ASP.NET - 3 года .NET - 5 лет</li>
                    <li>MVC, HTML5</li>
                    <li>Принципы ООП, шаблоны проектирования</li>
                    <li>Javascript, jQuery, CSS</li>
                    <li>Разговорный английский (средний)</li>
                    <li>Модульное тестирование</li>
                    <li>Умение работать в команде, Agile-методы, Scrum</li>
                </ul>
            </div>
            <div class="tab-pane" id="skills">
                <ul>
                    <li>SQL</li>
                    <li>KendoUI Web, KendoUI Mobile</li>
                    <li>Devexpress компоненты</li>
                    <li>WCF</li>
                    <li>Entity Framework</li>
                    <li>Немецкий язык</li>
                </ul>
            </div>
            <div class="tab-pane" id="offer">
                <ul>
                    <li>Отличную компенсацию</li>
                    <li>А также хорошие возможности для карьерного и личностного развития</li>
                    <li>Интересные проекты с привлечением новейших технологий</li>
                    <li>Медицинскую страховку</li>
                    <li>24 дня отпуск</li>
                    <li>Курсы немецкого языка</li>
                    <li>Возможный переезд в Германию</li>
                </ul>
            </div>
        </div>
    </article>
</div>
