
@{
    ViewBag.Title = "DotNetDeveloper";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">ASP.NET Developer</h1>
        <ol class="breadcrumb pull-right">
            <li>About us</li>
            <li>Career</li>
            <li class="active">ASP.NET Developer</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <h2 class="right-line">ASP.NET Developer</h2>
    <article>
        <p>
            De We are looking for ASP.NET Intermediate/Senior Backend/Frontend developers (m/f) to join our team in Kiev.
            You will develop web and mobile commercial solutions for our international customers with latest technologies like VisualStudio 2013, KendoUI and HTML5.
        </p>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
            <li class="active"><a href="#requirements" data-toggle="tab">Basic requirements</a></li>
            <li><a href="#skills" data-toggle="tab">Desired skills</a></li>
            <li><a href="#offer" data-toggle="tab">We offer</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="requirements">
                <ul>
                    <li>ASP.NET - 3 years .NET - 5 years</li>
                    <li>MVC, HTML5</li>
                    <li>OOP principles, design patterns</li>
                    <li>Javascript, jQuery, CSS</li>
                    <li>Intermediate spoken English</li>
                    <li>Unit testing</li>
                    <li>Team working, Agile methods, Scrum</li>
                </ul>
            </div>
            <div class="tab-pane" id="skills">
                <ul>
                    <li>SQL</li>
                    <li>KendoUI Web, KendoUI Mobile</li>
                    <li>Devexpress components</li>
                    <li>WCF</li>
                    <li>Entity Framework</li>
                    <li>German language</li>
                </ul>
            </div>
            <div class="tab-pane" id="offer">
                <ul>
                    <li>Excellent 'white' compensation package</li>
                    <li>As well as good opportunities for career and personal development</li>
                    <li>Exciting projects involving newest technologies</li>
                    <li>Medical insurance</li>
                    <li>24 days vacation</li>
                    <li>German language course</li>
                    <li>Possible relocation to Germany</li>
                </ul>
            </div>
        </div>
    </article>
</div>
