@{
    ViewBag.Title = ".Net Development";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">.NET development</h1>
        <ol class="breadcrumb pull-right">
            <li>Services</li>
            <li>.NET development</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <h1>Know-how for Microsoft .NET WPF and ASP.NET</h1>
    <article>
        <p>Custom software development for desktop, backend, UI, web development, data migration, mobile solutions, mobile apps, and external solutions in conjunction with SAP</p>
        <ol class="service-list list-unstyled one-line-list">
            <li class="fadeInUp animated">WPF: MVVM, Prism, XAML</li>
            <li class="fadeInUp animated">ASP.NET: MVC, .NET 4.0, Webforms</li>
            <li class="fadeInUp animated">Winforms, WCF, WIX</li>
            <li class="fadeInUp animated">Controls: DevExpress, Infragistics, Telerik</li>
            <li class="fadeInUp animated">MSSQL, T-SQL, MySQL, Oracle, ADO.NET, LINQ, Entity Framework</li>
            <li class="fadeInUp animated">HTML5, CSS, AJAX, JQuery, JavaScript, XSLT, XPath</li>
            <li class="fadeInUp animated">Continuous Integration, TeamCity, Unit Testing, SVN, TFS, Jira</li>
        </ol>
    </article>
</div>