@{
    ViewBag.Title = "Software Development";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Software development</h1>
        <ol class="breadcrumb pull-right">
            <li>About us</li>
            <li>Software development</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <img class="about-img" src="@Url.Content("~/Content/img/it1.png")" alt="software development" />
        </div>
        <div class="col-md-6 fadeInRight animated">
            <h2 class="right-line">Our expertise</h2>
            <p><strong>Pixabit solutions GmbH</strong> provides individual software solutions for companies and public agencies.</p>

            <p>We specialize in custom solutions, often in connection with SAP as well as mobile and web technologies. Our team holistically solves ideas, projects, and challenges.</p>

            <p>
                What "holistic" means to us is that we can implement your projects from the initial idea and project planning all the way to deployment, even if you don't have IT skills of your own.
            </p>
            <p>
                Our clients and projects are mostly in the fields of sales, logistics, and production, etc. Our solutions are implemented by our team together with your company's own IT staff.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 fadeInLeft animated">
            <h3 class="right-line">Software development and support for various target groups</h3>
            Various client groups, with or without IT experience or an IT department, benefit from our know-how:
            <ul>
                <li>Small and midsize companies</li>
                <li>Corporations</li>
                <li> Public agencies</li>
            </ul>

            <p>Through our partnerships with IT companies and IT service providers, we develop software as contractors for both subprojects as well as complete holistic solutions. Our clients benefit greatly from our experience and capabilities in nearshoring, as well as our ability to provide flexible and economical resources.</p>
            <ul>
                <li>Software firms and IT shops</li>

                <li>Project brokers and recruiting agencies</li>

                <li>Agencies and web service providers</li>
            </ul>
        </div>
    </div>
</div>
