@{
    ViewBag.Title = "Software Development";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Разработка програмного обеспечения</h1>
        <ol class="breadcrumb pull-right">
            <li>О нас</li>
            <li>Разработка програмного обеспечения</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <img class="about-img" src="@Url.Content("~/Content/img/it1.png")" alt="software development" />
        </div>
        <div class="col-md-6 fadeInRight animated">
            <h2 class="right-line">Наш опыт</h2>
            <p><strong>Pixabit solutions GmbH</strong> предоставляет индивидуальную разработку программного обеспечения для частных компаний и государственных учреждений.</p>

            <p>Мы специализируемся на разработке уникальных решений, в частности с использованием SAP, а также мобильных и web-технологий. Наша команда сможет комплексно реализовать все Ваши идеи, проекты и задачи.</p>

            <p>
                Что же для нас означает термин «комплексно»? Именно то, что наша команда может реализовывать проекты от первоначальный стадии – зарождение идеи и планирования проекта, вплоть до последней стадии воплощения проекта в жизнь, даже если у Вас нет навыков и опыта в области IT- технологий.
            </p>
            <p>
                Наши клиенты и проекты в основном связаны с областью продаж, логистики, производства и др. Мы также практикуем совместную работу нашей команды с IT специалистами Вашей компании.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 fadeInLeft animated">
            <h3 class="right-line">Разработка программного обеспечения и поддержка для различных целевых групп</h3>
            Различные группы клиентов с или без IT опыта или IT отдела, которые могут получить выгоду от наших идей:
            <ul>
                <li>Предприятия малого и среднего бизнеса</li>
                <li>Корпорации</li>
                <li>Государственные учреждения</li>
            </ul>

            <p>Благодаря нашим партнерским отношениям с IT-компаниями и IT-service провайдерами, мы разрабатываем программное обеспечение как в качестве подрядчиков для вспомогательных проектов, так и качестве исполнителей комплексных решений. Наши клиенты могут извлечь выгоду из нашего опыта и возможностей в "Nearshoring", поскольку это позволяет обеспечить гибкость и экономичность в использовании ресурсов.</p>
            <ul>
                <li>IT компании и IT магазины</li>

                <li>Брокерские проекты и рекрутинговые агентства</li>

                <li>Агенства и провайдеры web-услуг</li>
            </ul>
        </div>
    </div>
</div>
