@{
    ViewBag.Title = "Software Development";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Software-Entwicklung</h1>
        <ol class="breadcrumb pull-right">
            <li>Über uns</li>
            <li>Software-Entwicklung</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <img class="about-img" src="@Url.Content("~/Content/img/it1.png")" alt="software development" />
        </div>
        <div class="col-md-6 fadeInRight animated">
            <h2 class="right-line">Unsere Expertise</h2>
            <p><strong>Pixabit solutions GmbH</strong>  liefert individuelle Softwarelösungen für Unternehmen und öffentliche Auftraggeber.</p>

            <p>Wir haben uns spezialisiert auf individuelle Lösungen und Bedarfe, häufig im Zusammenhang mit Internet, Mobile und SAP. Mit unserem Team lösen wir ganzheitlich Ideen, Projekte und Herausforderungen.</p>

            <p>
                Ganzheitlich heisst für uns, dass wir Ihr Vorhaben von der Idee und Aufgabenstellung bis zum produktiven Einsatz umsetzen können, gerade dann wenn Sie keine eigenen IT-Kenntnisse haben.
            </p>
            <p>
                Unsere Auftraggeber und Projekte entstehen meist in den Fachabteilungen (Vertrieb, Logistik, Produktion usw) und werden durch uns und unter Einbeziehung Ihrer Unternehmens-IT umgesetzt.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 fadeInLeft animated">
            <h3 class="right-line">Softwareentwicklung und Unterstützung für verschiedene Zielgruppen</h3>
            Verschiedene Kundengruppen mit oder ohne IT-Erfahrung oder IT-Abteilung profitieren von unserem Know-How:
            <ul>
                <li>Kleinunternehmen und Mittelstand</li>
                <li>Großunternehmen</li>
                <li>Öffentliche Auftraggeber.</li>
            </ul>

            <p>Mit unserem Team sind wir auch Partner für andere IT-Unternehmen und Dienstleister. Hierbei entwickeln wir als Subunternehmer oder abgeschlossenes Entwicklungsteam Teilprojekte oder ganzheitliche Lösungen.
               Hier nutzen unsere Kunden unsere <strong>Nearshore-Erfahrung</strong> und -Möglichkeiten,<strong>flexibel und günstig</strong> Ressourcen einzubeziehen.</p>
            <ul>
                <li>Softwarefirmen und Systemhäuser</li>

                <li>Projektvermittler und Jobvermittler</li>

                <li>Agenturen und Webdienstleister</li>
            </ul>
        </div>
    </div>
</div>
