@{
    ViewBag.Title = "Web development";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Web-разработка</h1>
        <ol class="breadcrumb pull-right">
            <li>Услуги</li>
            <li class="active">Web-разработка</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <h1>Интернет и мобильные приложения</h1>
    <article>
        <p>Интернет и мобильные приложения</p>
        <ol class="service-list list-unstyled one-line-list">
            <li class="fadeInUp animated">Нативные и гибридные приложения для iOS и Android</li>
            <li class="fadeInUp animated">VPN, интернет-безопасность, firewall-решения</li>
            <li class="fadeInUp animated">Управление доменами</li>
            <li class="fadeInUp animated">Mail-хостинг, анти-спам услуги, web-хостинг, домен-хостинг</li>
            <li class="fadeInUp animated">Индивидуальный хостинг и управление web-приложениями</li>
            <li class="fadeInUp animated">Индивидуальный хостинг с ASP.NET, IIS и хостинг Баз Данных</li>
            <li class="fadeInUp animated">Индивидуальный хостинг с Java EE приложениями на Tomcat</li>
        </ol>
    </article>
</div>