@{
    ViewBag.Title = "Web development";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Web development</h1>
        <ol class="breadcrumb pull-right">
            <li>Services</li>
            <li class="active">Web development</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <h1>Internet and Mobile</h1>
    <article>
        <p>Custom software development for desktop, backend, UI, web development, data migration, mobile solutions, mobile apps, and external solutions in conjunction with SAP</p>
        <ol class="service-list list-unstyled one-line-list">
            <li class="fadeInUp animated">Native and hybrid apps for iOS and Android</li>
            <li class="fadeInUp animated">VPNs, Internet security, firewall solutions</li>
            <li class="fadeInUp animated">Domain management</li>
            <li class="fadeInUp animated">Mailhosting, anti-spam services, webhosting, domain hosting</li>
            <li class="fadeInUp animated">Individually hosted and managed web applications</li>
            <li class="fadeInUp animated">Individual hosting with ASP.NET, IIS, and database hosting</li>
            <li class="fadeInUp animated">Individual hosting with Java EE applications on Tomcat</li>
        </ol>
    </article>
</div>