@{
    ViewBag.Title = "Web development";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Web Entwicklung</h1>
        <ol class="breadcrumb pull-right">
            <li>Dienstleistungen</li>
            <li class="active">Web Entwicklung</li>
        </ol>
    </div>
</header>

<div class="container body-content">
    <h1>Internet und Mobile</h1>
    <article>
        <p>Internet und Mobile</p>
        <ol class="service-list list-unstyled one-line-list">
            <li class="fadeInUp animated">HTML5 Webanwendungen und Mobile Anwendungen</li>
            <li class="fadeInUp animated">Mobile Anwendungen für alle Plattformen mit Kendo UI (Telerik)</li>
            <li class="fadeInUp animated">UI Design und Responsive Design für moderne Anwendungen</li>
            <li class="fadeInUp animated">Frontendentwicklung JavaScript, HTML5, CSS</li>
            <li class="fadeInUp animated">Individuell gehostete und gemanagte Webanwendungen</li>
            <li class="fadeInUp animated">Individuelles Hosting mit ASP.NET, IIS und Datenbankhosting</li>
            <li class="fadeInUp animated">Individuelles Hosting mit Java EE Anwendungen unter Tomcat</li>
            <li class="fadeInUp animated">Domainmanagement</li>
            <li class="fadeInUp animated">Mailhosting, Anti-Spam Services, Webhosting, Domainhosting</li>
        </ol>
    </article>
</div>